/* 
    Created on : Apr 24, 2021, 12:57:10 PM
    Author     : Alejandro Zanlongo <azanlongo at gmail.com>
*/
ul.widgetview{
    list-style: none;
    padding: 5px;
    width: 100%;
    height: auto;
}
ul.widgetview li{
    padding: 1px;
    border: #033;
    margin: 0 2px 2px 0;
    width: 20px;
    height: 25px;
    float: left;
}
ul.widgetview li img{
    width: 19px;
    height: 24px;
}

